*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}
body {
  margin: 0;
}
i {
  color: red;
}

.film {
  width: 80%;
  max-width: 600px;a
  margin: 40px auto;
  border: 1px solid #ccc;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.film-poster {
  margin: 0;
  width: 30%;
  position: relative;
  float: left;
}
img {
  max-width: 100%;
}
figure i {
  position: absolute;
  top: 8px;
  right: 8px;
}

.film-details {
  width: 65%;
  padding: 0 1em 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.action-like {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
